@import "variables"

.clients
  padding: 100px 0
  text-align: center
  background-color: #fafafa

.under-title-paragraph
  margin-top: 18px
  color: #777777
  font-size: 22px
  
.clients-main-container
  display: flex
  flex-direction: column
  
.clients-container
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin-top: 40px

.clients-item
  padding: 41px 90px
  flex-basis: 50%
  background-color: #fff
  border: 1px solid #e8e8e8
  @media (max-width: 930px)
    flex-basis: 100%
  @media (max-width: 600px)
    padding: 20px

.clients-img
  margin: 0 17px
  @media (max-width: 930px)
    margin: 0 auto

.cite
  color: #777777
  font-size: 26px
  margin-bottom: 13px
  text-align: left

.author
  color: #7690c5
  font-size: 20px
  text-align: left